html{
    background: url('../images/bg3.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
}


#land{
    font-size: 50px;
    text-align: center;
    color: white;
}