/* Landing Page  */
html{
    background: url('../images/bg3.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
}


#land{
    font-style: italic;
    text-align: center;
    color:#e3812b; 
}

p{
    margin-left: 30%;
    /* background:#e3812b; */
    width: 30%;
}

#one{
    font-size: 60px;
    margin-top: 30px;
}

#two{
    font-size: 50px;
    margin-top: 31%;
}

/* Form  */
#data{
}